body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
.weatherApp {
  background: #bbdee3;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  font-family: Caveat;
  border: 2px solid #fcefbd;
}

header {
  border-bottom: 1px solid #fcefbd;
  padding: 0 0 30px 0;
}

.search-form-input {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-family: Caveat;
  font-size: large;
  border: 2px solid #fcefbd;
}

.search-form-button {
  padding: 15px 30px;
  border-radius: 6px;
  margin-left: 5px;
  font-family: Comic Neue;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/146/176/original/k_searchIcon.png?1727987646");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: none; /* Remove border if needed */
  background-color: #97d6f5;
  border: 2px solid #fcefbd;

  cursor: pointer;
}

.footerLinks {
  text-decoration: none;
  font-weight: bolder;
  font-style: italic;
  color: black;
  cursor: pointer;
}

footer {
  border-top: 1px solid #fcefbd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 19px;
}

main {
  padding: 30px 0;
}

.weatherAppData {
  display: flex;
  justify-content: space-between;
}

.cities {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
}

.cityDetails {
  font-size: 18px;
  line-height: 20px;
  font-weight: 200;
}

.temp_container {
  display: flex;
}

.temp_value {
  font-size: 80px;
  font-weight: bold;
  margin-left: 10px;
}

.temp_icon {
  font-size: 44px;
  margin-top: 22px;
}

.temp_unit {
  margin-top: 15px;
  font-size: 23px;
}
